			<span class="adminbut">
				{% if node.ip %}
					{% if node.flag %}
					<a href="/resetflag/{{ node.id }}/#{{ node.id }}" class="flag">
						<img src="/static/images/alert.png"></a>
					{% endif %}
					{% if "nodes_check_nodes" in perms %}
					<a href="/checknodes/{{ node.id }}/#{{ node.id }}" class="check">
						<icon class="glyphicon glyphicon-repeat text-success"></a>
					{% endif %}
				{% endif %}
				{% if "nodes_add_nodes" in perms %}
				<a href="/addnode/{{ node.id }}/#{{ node.id }}" class="add">
					<icon class="glyphicon glyphicon-plus"></a>
				{% endif %}
				{% if "nodes_edit_nodes" in perms %}
				<a href="/editnode/{{ node.id }}/#{{ node.id }}" class="edit">
					<icon class="glyphicon glyphicon-pencil text-warning"></a>
				{% endif %}
				{% if "nodes_move_nodes" in perms %}
				<a href="/movenode/{{ node.id }}/" class="move">
					<icon class="glyphicon glyphicon-transfer"></a>
				{% endif %}
				{% if "nodes_delete_nodes" in perms %}
				<a href="/deletenode/{{ node.id }}/" class="del" >
					<icon class="glyphicon glyphicon-trash text-danger"></a>
				{% endif %}
			</span>