{% extends "main.html" %}
{% block nodes %}
<table>
	<tr>
		<td>
			{{ _('Filter by IP') }}:
		</td>
	</tr>
	<tr>
		<td>
			<input class="ipfreesrch" type="text">
		</td>
	</tr>
</table>
<div>
	<ul style="margin-left:0px;padding:10px;">
		<table>
{% for node in nodes recursive %}
	<tr class="freeip hlgreen">
		<td>
			{% if node.exists %}
				<span class="label label-success">{{ node.ipaddr }}</span>
			{% else %}
				{{ node.ipaddr }}
			{% endif %}
		</td>
		{% if act == "editcomment" and ip == node.ipaddr %}
			<td colspan=2>
				<form action="/freeip/editcomment/{{ node.ipaddr }}/" method="POST">
					<div class="input-group">
						<input class="form-control" name="comment" value="{{ node.comment }}">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">{{ _('Change') }}</button>
						</span>
					</div>
				</form>
			</td>
		{% else %}
			<td>
				{{ node.comment }}
			</td>
			<td>
				<a class="freeipedit" href="/freeip/editcomment/{{ node.ipaddr }}/"><img src="/static/images/edit.png"></a>
				{% if node.exists %}
					<a href="/freeip/applycomment/{{ node.ipaddr }}/" class="btn btn-primary freeipapply">{{ _('Apply') }}<a>
				{% endif %}

			</td>
		{% endif %}
	</tr>
{% endfor %}
		</table>
	</ul>
</div>
{% endblock %}