<form class="navbar-form" method="POST" action="/movenode/{{node.id}}/">
	<select name="parent" class="chzn-select" style="width:80%">
	<option value="0" {% if node.parent_id == 0 %}selected{% endif %}>{{ _('Root') }}</option>
	{% for node1 in nodes recursive %}
		{% if node1.ip and node.id != node1.id %}
			<option value="{{ node1.id }}" {% if node.parent_id == node1.id %}selected{% endif %}>
			{{ node1.comment }}
			</option>
		{% endif %}
		{% if node1.child_list and node.id != node1.id %}
			{{ loop(node1.child_list) }}
		{% endif %}
	{% endfor %}
	</select>
	<input type="submit" class="movebutton" id={{node.id}} value="{{ _('Move') }}" name="submit">
	<span class="adminbut"></span>
</form>