{% extends "main.html" %}
{% block nodes %}
<div id="notice" class="hide"></div>
<table>

	<tr>
		<td>
			<label>{{ _('Filter by name') }}</label>
			<input class="srch form-control" name="srch" type="text">
		</td>
		<td>
			<label>{{ _('Filter by MAC') }}</label>
			<input class="srch2 form-control" name="srch2" type="text">
		</td>
	</tr>
</table>
<div class="ipgroup" id="0">
	<ul style="margin-left:0px;padding:10px;">
{% for node in nodes recursive %}
<div class="ipgroup" id="{{node.id}}">
	{% if act == "edit" and id == node.id %}
		<div class="node withip">
			<form class="form-horizontal" method="POST" action="/editnode/{{node.id}}/">
				<div class="form-group">
					<label class="col-sm-2 control-label">{{ _('Name') }}</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" value="{{ node.comment }}" name="comment" id="{{ node.id }}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">{{ _('IP address') }}</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" value="{{ node.ipaddr }}" name="ip">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">{{ _('Port Number') }}</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" value="{{ node.port }}" name="port">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">{{ _('Change') }}</button>
						<span class="adminbut"></span>
					</div>
				</div>
			</form>
		</div>
	{% elif act == "move" and id == node.id %}
		<div class="node withip">
			{% include "moveform.html" %}
		</div>
	{% else %}
		{% if node.ip %}
		<div class="node withip">
			{% if node.status %}
				<span class="normal-ip">
			{% else %}
				<span class="label label-danger">
			{% endif %}
			{% if "nodes_show_ips" in perms %}
				<small>
					{% if node.port %}
					{{ node.port }}
					{% endif %}
				</small>
				<a href="http://{{ node.ipaddr }}/" class="linkb" target="_blank" title="">{{ node.comment }}</a>
				</span>
				(
					<span class="ipaddr">{{ node.ipaddr }}</span>
				)
			{% else %}
				{{ node.comment }}
				</span>
			{% endif %}
		{% else %}
		<div class="node noip">
				{% if "nodes_show_ips" in perms %}
				<small>
					{% if node.port %}
					{{ node.port }}
					{% endif %}
				</small>
				{% endif %}
			{{ node.comment }}
		{% endif %}
			{% include 'adminbut.html' %}
		</div>

	{% endif %}
		<ul>
		{% if act == "add" and id == node.id %}
			<form action="/addnode/{{ node.id }}/" method="POST" class="navbar-form">
				<div class="input-group">
					<input name="comment" class="noevent form-control" value="" type="text">
					<span class="input-group-btn">
						<button name="submit" class="addbutton btn btn-primary" id="{{ node.id }}" type="submit">{{ _('Add') }}</button>
					</span>
				</div>
			</form>
		{% endif %}
	{% if node.child_list %}
		{{ loop(node.child_list) }}
	{% endif %}
		</ul>

</div>
{% endfor %}
{% if "nodes_add_nodes" in perms %}
	<div class="ipgroup">
		<div class="node">
			<form action="/addnode/0/" method="POST" class="navbar-form" id="addtoroot">
				<div class="input-group">
					<input name="comment" class="noevent form-control" value="" type="text">
					<span class="input-group-btn">
						<input name="submit" class="addbutton btn btn-primary" id="0" value="{{ _('Add') }}" type="submit">
					</span>
				</div>
			</form>
		</div>
	</div>
{% endif %}
</ul>
</div>
{% endblock %}